<!DOCTYPE html>
<html lang="en">

<head>
	<title>Captain</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Angular Material style sheet -->
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.css">
	<link rel="stylesheet" href="css/icons.css"
</head>

<body ng-app="MyApp" ng-cloak>
	<div ng-controller="AppCtrl" layout="column" style="height:100%;" ng-cloak="" ng-app="MyApp">

		<section layout="row" flex="">

			<md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="4">

				<md-toolbar class="md-theme-indigo">
					<!--img src="images/logo.png" style="height:50px;width:50px" /-->
					<h1 class="md-toolbar-tools">CAPTAIN</h1>

				</md-toolbar>
				<md-content layout-padding="" ng-controller="LeftCtrl">
					<md-button ng-click="close()" class="md-primary" hide-gt-md="">
						Close Sidenav Left
					</md-button>
					<p hide="" show-gt-md="">
						This sidenav is locked open on your device. To go back to the default behavior, narrow your display.
					</p>

					<md-list-item class="md-2-line">
						<div class="md-list-item-text" layout="column">
							<p>First Line</p>
							<p>Second Line</p>
						</div>
					</md-list-item>



				</md-content>

			</md-sidenav>

			<md-content style="width:100%">
				<md-toolbar class="md-theme-indigo">
					<div class="md-toolbar-tools">
						<md-button class="md-icon-button" aria-label="Settings" ng-disabled="false" ng-click="toggleLeft()">
							<md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
						</md-button>

						<h2 flex md-truncate>Captain</h2>

						<!--md-button class="md-icon-button" aria-label="More">
							<md-icon md-svg-icon="img/icons/more_vert.svg"></md-icon>
						</md-button-->
					</div>
				</md-toolbar>

				<div ng-cloak>
					<md-content>
						<md-tabs md-scretch-tabs md-selected="selectedIndex" md-dynamic-height md-border-bottom md-swipe-content="true">
							<md-tab label="Home">
								<md-tab-label>
							      <i class="icon-home"></i> Home
							    </md-tab-label>
								<md-tab-body>
									<md-content class="md-padding">
										<div ng-include src="'home.htm'"></div>
									</md-content>
								</md-tab-body>
							</md-tab>
							<md-tab>
								<md-tab-label>
							      <i class="icon-p2p"></i> Point to Point
							    </md-tab-label>
								<md-tab-body>
									<md-content class="md-padding">
										<div ng-include src="'p2p.htm'"></div>
									</md-content>
								</md-tab-body>
							</md-tab>
							<md-tab>
								<md-tab-label>
							      <i class="icon-directions_boat"></i> Coverage
							    </md-tab-label>
								<md-tab-body>
									<md-content class="md-padding">
										<div ng-include src="'coverage.htm'"></div>
									</md-content>
								</md-tab-body>
							</md-tab>
							<md-tab>
								<md-tab-label>
							      <i class="icon-meter"></i> Status
							    </md-tab-label>
								<md-tab-body>
									<md-content class="md-padding">
										<div ng-include src="'status.htm'"></div>
									</md-content>
								</md-tab-body>
							</md-tab>
							<md-tab>
								<md-tab-label>
							      <i class="icon-equalizer"></i> Edit Parameters
							    </md-tab-label>
								<md-tab-body>
									<md-content class="md-padding">
										<div ng-include src="'editparameters.htm'"></div>
									</md-content>
								</md-tab-body>
							</md-tab>
						</md-tabs>
					</md-content>
				</div>

				<div flex=""></div>

			</md-content>

		</section>

	</div>

	<!-- Angular Material requires Angular.js Libraries -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.js"></script>
	<!-- Angular Material Library -->
	<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.js"></script>
	<script src="http://ngmaterial.assets.s3.amazonaws.com/svg-assets-cache.js"></script>


	<!-- Your application bootstrap  -->
	<script type="text/javascript">
		/**
		 * You must include the dependency on 'ngMaterial'
		 */
		angular.module('myApp', ['ngMaterial']);
	</script>

	<script src="material.js"></script>

</body>

</html>
