<!DOCTYPE html>
<html>
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
<script src="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-plugins/3.0.1/layer/Marker.Rotate.js"></script>
<script src="https://rawgit.com/tombatossals/angular-leaflet-directive/master/dist/angular-leaflet-directive.min.js"></script>
<!--script src="https://rawgit.com/bbecquet/Leaflet.PolylineDecorator/master/dist/leaflet.polylineDecorator.js"></script-->

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>CAPTAIN: Autopilot control center</title>
	<!-- Bootstrap CSS CDN -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- Our Custom CSS -->
	<link rel="stylesheet" href="css/custom.css">
	<link rel="stylesheet" href="css/icons.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">

</head>

<body ng-app="myApp">
	<div class="wrapper">
		<!-- Sidebar Holder -->
		<nav id="sidebar">
			<div class="sidebar-header">
				<!--h3>CAPTAIN: Autopilot Control Center</h3>
                <strong>CPT</strong-->

				<button type="button" id="sidebarCollapse" class="btn btn-default">
                    ☰
                </button>
				<h3>CAPTAIN: Autopilot Control Center</h3>
				<strong>
                    CPT
                </strong>

			</div>

			<ul class="list-unstyled components" id="sidebar-content" ng-controller="navCtrl">
				<li ng-class="{'active':selectedTab === '/home'}" ng-click="selectedTab = '/home'">
					<a href="#/!">
                        <i class="icon-home"></i>
                        Home
                    </a>
				</li>
				<li ng-class="{'active':selectedTab === '/p2p'}" ng-click="selectedTab = '/p2p'">
					<a href="#!p2p">
                        <i class="icon-p2p"></i>
                        Point to point
                    </a>
				</li>
				<li ng-class="{'active':selectedTab === '/coverage'}" ng-click="selectedTab = '/coverage'">
					<a href="#!coverage">
                        <i class="icon-directions_boat"></i>
                        Coverage
                    </a>
				</li>
				<li ng-class="{'active':selectedTab === 'status'}" ng-click="selectedTab = 'status'">
					<a href="#!status">
                        <i class="icon-meter"></i>
                        Status
                    </a>
				</li>
				<li ng-class="{'active':selectedTab === 'editparameters'}" ng-click="selectedTab = 'editparameters'">
					<a href="#!editparameters">
                        <i class="icon-equalizer"></i>
                        Edit parameters
                    </a>
				</li>
			</ul>
		</nav>

		<!-- Page Content Holder -->
		<div ng-view id="content">

		</div>

	</div>
	<script src="js/main.js"></script>
	<script src="js/p2p.js"></script>
	<script src="js/editParam.js"></script>
	<script src="js/coverage.js"></script>
	<!-- jQuery CDN -->
	<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
	<!-- Bootstrap Js CDN -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<script src="js/nav.js"></script>


</body>

</html>
